.progress-icon
	position: fixed
	width: 28px
	right: calc(70px / 2 - 28px / 2)
	top: calc(50% - 24px / 2)

.progress-box
	width: 240px
	position: fixed
	right: 70px
	top: 50%

	border: $border-thin
	background-color: rgba(255, 255, 255, 0.9)
	text-align: center
	padding: 15px 25px

	img
		width: 65%
		margin-bottom: 20px
