.policies
	margin-top: 100px
	display: grid
	grid-template-columns: 120px repeat(4, 1fr)
	grid-template-rows: auto
	grid-column-gap: 30px
	grid-row-gap: 30px

.compare-table__col-header
	color: $primary-color
	margin-bottom: 35px
	text-align: center
	font-size: 1.5rem
	font-weight: 700

.compare-table__cell
	font-size: 0.875rem
	p
		margin-bottom: 20px

.btn-vote
	text-transform: uppercase
	font-size: 0.65rem
	border: 1px solid $primary-color
	color: $primary-color
	padding: 3px 10px
	&.active
		background-color: $primary-color
		color: white
