/* Line dividing sections */
.home-mps
	width: 100%
	position: relative
	&::after
		@include line-divider

.mp-title
	font-size: 3rem

/*Use Flex box to put items in row*/
.mp-container
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-evenly

/*Size of image*/
.rounded
	margin-top: 70px
	margin-bottom: 70px
	border: 5px solid $primary-color
	max-width: 100%

.para-mp
	padding-top: 30px

/*Call to Action button style*/
.mp-button
	margin-top: 30px

/* Media Query */
@media screen and (max-width: 1200px)
	.mp-container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.mp-item
		align-self: center
	.mp-title
		margin-top: 50px
