/* Style Webpage title */
.vote-up-title
	text-align: center
	color: white

/* Hero Section */
.center-hero
	//margin-top: 70px
	text-align: left
	font-size: 3rem
	color: $primary-color
	font-weight: bold
	//margin-bottom: 40px

.center-hero-text
	text-align: left
	font-size: 1.3rem
	font-weight: 400
	margin-bottom: 40px

/*Style form section */
.form-group
	position: relative

.btn-primary
	margin-top: 20px

.form-control
	width: 300px
	margin-top: 15px
	border-color: $primary-color
	padding-left: 40px

.icon-span
	position: absolute
	margin-bottom: 200px


/* Leaf Image */
.leaf
	width: 92%
	margin-left: 130px
	margin-bottom: 50px

.hero-container
	position: relative
	&::after
		@include line-divider

/* Style video of hero section */
.hero-video
	margin-top: 100px
	margin-bottom: 100px
	border: $border-thick
	width: 500px

@media screen and (max-width: 600px)
	.hero-item, .hero-video
		width: 100%

.vote-matters-body
	padding-top: 100px
	margin-left: 90px


/* Style user icon of form*/
.input-icon-user
	position: absolute
	left: 9px
	top: 9px
	color: $primary-color

/* Style email icon of form*/
.input-icon-envelope
	position: absolute
	left: 9px
	top: 9px
	color: $primary-color

.input-wrapper
	position: relative
	.form-control
		max-width: 100%

/*Social media buttons at side*/
.social
	list-style-type: none
	margin-bottom: 10px
	font-size: 1.125rem
	color: $primary-color

.social-list
	position: fixed
	padding: 0
	left: calc(35px - 8px)
	top: calc(50% - 111px / 2)
	@media screen and (max-width: 420px)
		left: calc(20px - 8px)

.hero-item
	max-width: 100%

.hero-flex-container
	display: flex
	justify-content: space-around
	align-items: center

/*Media query for responsiveness */
@media screen and (max-width: 1200px)
	.hero-flex-container
		display: flex
		flex-direction: column
		justify-content: center
		margin-top: 50px
	.hero-item
		align-self: center
	.hero-one
		order: 2
	.hero-two
		order: 1
	.btn-primary
		margin-top: 20px

