.parliament-flex-container
	display: flex
	flex-direction: row
	justify-content: space-evenly

.parliament-item
	align-self: flex-start

/*Edit Image*/
.parliament-picture
	width: 80%

/* Title of section */
.parliament-title
	font-size: 3rem
	margin-top: 50px
	text-align: center

/* Style of paragraphs */
.first-para
	margin-top: 20px

.facts-container
	margin-top: 25px
	background-color: $primary-color
	width: 80%
	height: 435px
	margin-left: 15px

/* Style Quick Facts title */
.quick-facts-title
	color: white
	padding-top: 25px
	margin-left: 35px

/* Style bullet points */
.facts
	color: $text-color-white
	width: 90%
	margin-bottom: 30px
	margin-top: 30px

/*Media query*/ 
@media screen and (max-width: 1200px)
	.parliament-flex-container
		display: flex
		flex-direction: column
		justify-content: center
	.parliament-item
		align-self: center
		margin-top: 30px
		margin-bottom: 10px
	.parliament-picture
		width: 100%
		margin-top: 30px
	.facts-container
		height: 100%
