.vote-up-title
	text-align: center
	color: white
	margin-top: -135px

.center-hero
	margin-top: 70px
	text-align: left
	font-size: 3rem
	color: $primary-color
	font-weight: bold
	margin-bottom: 40px

.center-hero-text
	text-align: left
	font-size: 1.3rem
	font-weight: bold
	margin-bottom: 40px

.form-group
	position: relative

.form-control
	width: 300px
	margin-top: 15px
	border-color: $primary-color
	padding-left: 40px

.icon-span
	position: absolute
	margin-bottom: 200px

.btn-success
	margin-top: 35px 
	padding: 12px 75px
	font-weight: bold

.leaf
	width: 92%
	margin-left: 130px
	margin-bottom: 50px

.hero-container
	width: 95%
	padding-left: 150px

.hero-video
	margin-top: 100px
	margin-bottom: 100px
	outline: 5px solid $primary-color


.vote-matters-body
	padding-top: 100px
	margin-left: 90px

.input-icon-user
	position: absolute
	left: 25px
	bottom: 275px
	color: $primary-color

.input-icon-envelope
	position: absolute
	margin-left: 9px
	bottom: 222px
	color: $primary-color

.input-wrapper 
	position: relative

.social
	list-style-type: none
	margin-bottom: 10px
	font-size: 1.5rem
	color: $primary-color

.social-list
	margin-top: 250px
	position: fixed
