//title section
.title
	margin-top: $title-margin-top
	display: flex
	align-items: center
	justify-content: center

//leadership section
.leader-container
	display: flex
	flex-direction: column
	align-content: flex-start
.deputy-container
	display: flex
	justify-content: space-around
.leader-img
	border: $border-thick
	max-width: 300px
	margin-bottom: 15px

.deputy-img
	max-width: 180px
	margin-bottom: 15px
	border: $border-thick
.red
	color: $primary-color


