//title section
.title
	margin-top: $title-margin-top
	display: flex
	align-items: center
	justify-content: center
	position: relative
	color: red
	@include line-margin
	&::after
		@include line-divider-sm

.party-title
	margin-bottom: $p-container
//leadership section
.leadership-row
	position: relative
	@include line-margin
	&::after
		@include line-divider-sm
	padding-bottom: $p-container
.leader-container
	display: flex
	flex-direction: column
	align-items: center
	padding-right: 0
.deputy-container
	display: flex
	flex-direction: row
	justify-content: space-evenly
.leader-img
	border: $border-thick
	max-width: 280px
	margin-bottom: 15px
	margin-top: 70px

.deputy-img
	max-width: 120px
	margin-bottom: 20px
	border: $border-thick
	border-radius: 50%
.logo
	width: 80%
	margin-bottom: $parties-margin
.red
	color: $primary-color
.leadership-para
	margin-top: $parties-margin
.end-para
	margin-bottom: $parties-margin
//policies-history-seats section
.policies-row
	position: relative
	@include line-margin
	&::after
		@include line-divider-sm
// the seats chart
.chart
	width: 300px
	height: 400px
	position: relative

//950 media query
@media screen and (max-width: 980px) and (min-width: 576px)
	.col-sm-6
		-webkit-box-flex: 0
		-ms-flex: 0 0 50%
		flex: 0 0 50%
		max-width: 50%
		position: relative
		width: 100%
		min-height: 1px
		padding-right: 15px
		padding-left: 15px
	.col-sm-12
		-webkit-box-flex: 0
		-ms-flex: 0 0 100%
		flex: 0 0 100%
		max-width: 100%
		position: relative
		width: 100%
		min-height: 1px
		padding-right: 15px
		padding-left: 15px
	.deputy-container
		.div
			padding: 10px
	.logo
		width: 40%
		margin: auto
		margin-top: 40px
		margin-bottom: 40px
		display: flex
		justify-content: center
	.section
		margin-bottom: $parties-margin

//mobile media queries
@media screen and (max-width: 576px)
	.deputy-container
		display: flex
		flex-direction: column
		align-items: center
	.section
		margin-bottom: $parties-margin
	.logo
		width: 70%
		margin-top: 15px
		margin-bottom: 30px
	.chart
		width: 200px
		height: 300px
		position: relative
	.party-title
		font-size: 2.3rem





