.navbar-css
	margin-top: 60px
	border-bottom: thin solid $primary-color
	width: 100%

.nav-link
	color: $text-color
	padding: 25 40px
	margin-left: 220px

.nav-link.active
	color: $primary-color
	border-bottom: 3px solid $primary-color

.nav-item
	font-size: 1.3rem
	font-weight: bold
	margin-bottom: 20px
