img.leaf(src="/img/header-slogan.jpg" alt="This is the background image for the top section of the Vote Up website")
h1.vote-up-title VOTE UP!
 
//Navbar
ul.nav.navbar-css
  li.nav-item
    a.nav-link.active(href="/") Home
  li.nav-item
    a.nav-link(href="/parties.html") Parties
  li.nav-item
    a.nav-link(href="/compare.html") My MPs
  li.nav-item
    a.nav-link(href="/mps.html") Compare
