meta(charset="utf-8")
meta(name="viewport", content="with=device--width, initial-scale=1")
meta(name="description", content="This is a student exercise website for the Vancouver Institute of Media Arts")

link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,700")
link(rel="stylesheet", href="css/main.css")

