.slogan
	.vote-up-title Vote Up!

//Desktop Navbar
ul.nav.navbar-desktop-container
	li.nav-item
		a.nav-link.active(href="/") Home
	li.nav-item
		a.nav-link(href="/parties.html") Parties
	li.nav-item
		a.nav-link(href="/mps.html") My MPs
	li.nav-item
		a.nav-link(href="/compare.html") Compare

//Mobile Navbar
ul.nav.navbar-mobile-container
	li.nav-item
		a.nav-link.active(href="/") Home
	li.nav-item
		a.nav-link(href="/parties.html") Parties
	li.nav-item
		a.nav-link(href="/mps.html") My MPs
	li.nav-item
		a.nav-link(href="/compare.html") Compare

.navbar-mobile-toggle.is-open
	span

ul.social-list
	li.social
		i.fa.fa-facebook
	li.social
		i.fa.fa-twitter
	li.social
		i.fa.fa-rss

.bg
