ul.nav
  li.nav-item
    a.nav-link.active(href="/") Home
  li.nav-item
    a.nav-link.active(href="/parties.html") Parties
  li.nav-item
    a.nav-link.active(href="/compare.html") Compare
  li.nav-item
    a.nav-link.active(href="/mps.html") MPs
