//	Our variables
@import "1-base/variables";

//	Bootstrap css-styles

//  	bootstrap variables

$enable-rounded: false;

//		redefining generic bootstrap styles
$theme-colors: (
	primary: $primary-color,
	success: #a30000,
	secondary: white,
	info: white,
	warning: white,
	danger: white,
	light: white,
	dark: white
);

//		import bootstrap stylesheet
@import "../node_modules/bootstrap/scss/bootstrap";

//	Custom styles
@import "0-libraries/bootstrap-multiselect";

@import "1-base/typography";
@import "1-base/layout";

@import "2-elements/buttons";
@import "2-elements/navbar";

@import "3-sections/home-hero";
@import "3-sections/home-parties";
@import "3-sections/home-statistics";

@import "3-sections/parties-main";

@import "3-sections/compare-filters";
@import "3-sections/compare-table";
