doctype html
html(lang="en")
	head
		title I need a title
		include partials/shared/head

	body

	include partials/shared/header

	main.container
		include partials/compare/filters
		include partials/compare/table

	include partials/shared/footer

	include partials/shared/footer-scripts

	script(src="js/libraries/bootstrap-multiselect.js")
	script(src="js/compare.js")


