doctype html
html(lang="en")
	head
		title VOTE UP | Index
		include partials/shared/head

	body

	include partials/shared/header

	main.container
		include partials/home/hero
		include partials/home/parliament
		include partials/home/statistics
		include partials/home/parties
		include partials/home/mps

	include partials/shared/footer

	include partials/shared/footer-scripts

	script(src="js/home.js")


