doctype html
html(lang="en")
  head
    title I need a title
    include partials/shared/head

  body

    include partials/shared/header

    include partials/home/hero
    
    h1 Index page
    button.btn.btn-primary Primary button
    button.btn.btn-secondary Secondary button

    include partials/home/statistics
    include partials/shared/footer

    include partials/shared/footer-scripts


