doctype html
html(lang="en")
	head
		title I need a title
		include partials/shared/head

	body

	include partials/shared/header

	main.container
		include partials/home/hero
		include partials/home/parties
		include partials/home/mps
		include partials/home/statistics

	include partials/shared/footer

	include partials/shared/footer-scripts


