doctype html
html(lang="en")
	head
		title VOTE UP | Who is my MP?
		include partials/shared/head

	body

	include partials/shared/header-alt

	main.container
		include partials/mps/map
		include partials/mps/list

	include partials/shared/footer

	include partials/shared/footer-scripts

	script(src="js/libraries/raphael.min.js")
	script(src="js/mps-list.js")
	script(src="js/map.js")
	script(src="js/main.js")
	script(src="js/mps-run.js")


