doctype html
html(lang="en")
  head
    title I need a title
    include partials/shared/head

  body

    include partials/shared/header

    h1 MPs page

    include partials/shared/footer

    include partials/shared/footer-scripts


