doctype html
html(lang="en")
	head
		title Parties Page
		include partials/shared/head

	body

		include partials/shared/header
		.container
			include partials/parties/title
			include partials/parties/leadership
			include partials/parties/policies-history-seats

		include partials/shared/footer

		include partials/shared/footer-scripts


