doctype html
html(lang="en")
	head
		title Parties Page
		include partials/shared/head

	body

		include partials/shared/header
		include partials/parties/title
		include partials/parties/leadership
		include partials/parties/policies-history-seats

		section.container.party-1
			+party-title("The Liberal Party")
			+party-leaders("Liberal","leadership", "img/liberal-leader.jpg", "Justin Trudeau", "img/liberal-deputy-1.jpeg", "img/liberal-deputy-2.png", "Bardish Chagger", "Chris Bittle", "House Leader", "Deputy House Leader", "img/logo-liberals.png")
			+party-policies("Liberal","policies", "history", "16", "181")

		section.container.party-2
			+party-title("The Conservative Party")
			+party-leaders("Conservative","leadership", "img/conservative-leader.jpg", "Andrew Scheer", "img/con-deputy-1.jpg", "img/con-deputy-2.jpg", "Lisa Raitt", "Larry W. Smith", "Deputy Leader", "Deputy House Leader", "img/logo-conservatives.png")
			+party-policies("Conservative","policies", "history", "36", "97")

		section.container.party-3
			+party-title("The National Democratic Party")
			+party-leaders("New Democratic","leadership", "img/ndp-leader.jpg", "Thomas Mulcair", "img/ndp-deputy-1.png", "img/ndp-deputy-2.png", "Murray Rankin", "Matthew Dubé", "House Leader","Deputy House Leader", "img/logo-ndp.png")
			+party-policies("New Democratic","policies", "history", "0", "44")

		section.container.party-4
			+party-title("The Green Party")
			+party-leaders("Green","leadership", "img/green-leader.jpg", "Elizabeth May", "img/green-deputy-1.jpg", "img/green-deputy-2.jpg", "Bruce Hyer", "Daniel Green", "Deputy Minister", "Deputy Minister", "img/logo-green.png")
			+party-policies("Green","policies", "history", "0", "1")


		include partials/shared/footer

		include partials/shared/footer-scripts
		script(src="js/parties.js")
		script(src="js/libraries/chart.js")
		script(src="js/seatsChart.js")


