doctype html
html(lang="en")
	head
		title Parties Page
		include partials/shared/head

	body

		include partials/shared/header
		include partials/parties/title
		include partials/parties/leadership
		include partials/parties/policies-history-seats

		section.container.party-1
			+party-title("The Liberal Party")
			+party-leaders("img/liberal-leader.jpg", "Justin Trudeau", "img/deputy-1.jpg", "img/deputy-2.jpg", "Liberal Minister 1", "Liberal Minister 2", "Deputy Minister", "img/logo-liberals.png")
			+party-policies("234", "100", "img/voting-results.png")

		section.container.party-2
			+party-title("The Conservative Party")
			+party-leaders("img/conservative-leader.jpg", "Stephen Harper", "img/deputy-1.jpg", "img/deputy-2.jpg", "Conservative Minister 1", "Conservative Minister 2", "Deputy Minister", "img/logo-conservatives.png")
			+party-policies("214", "100", "img/voting-results.png")

		section.container.party-3
			+party-title("The National Democratic Party")
			+party-leaders("img/ndp-leader.jpg", "Thomas Mulcair", "img/deputy-1.jpg", "img/deputy-2.jpg", "NDP Minister 1", "NDP Minister 2", "Deputy Minister", "img/logo-ndp.png")
			+party-policies("114", "80", "img/voting-results.png")

		section.container.party-4
			+party-title("The Green Party")
			+party-leaders("img/quebec-leader.jpg", "Gilles Duceppe", "img/deputy-1.jpg", "img/deputy-2.jpg", "Q Minister 1", "Q Minister 2", "Deputy Minister", "img/logo-green.png")
			+party-policies("32", "45", "img/voting-results.png")


		include partials/shared/footer

		include partials/shared/footer-scripts


