mixin party-policies(numSeats, numMps, graphImg)
	.row.policies-row
		.col-md-4.col-sm-6.col-xs-12
			h3 Our Policies
			p.font-weight-bold.leadership-para Our approach to issues
			p Investing in our communities is not just about creating good jobs and economic growth. It is also about building communities that we are proud to call home.
			p.end-para With historic new investments in social infrastructure, we will achieve both. With historic new investments in social infrastructure, we will achieve both.
			button.btn.btn-primary View Policies
		.col-md-4.col-sm-6.col-xs-12
			h3 Our History
			p.font-weight-bold.leadership-para Since 1892...
			p Investing in our communities is not just about creating good jobs and economic growth. It is also about building communities that we are proud to call home.
			p.end-para With historic new investments in social infrastructure, we will achieve both. With historic new investments in social infrastructure, we will achieve both.
			p.font-weight-bold.text-uppercase.red Read More
		.col-md-4.col-sm-6.col-xs-12
			h3 Our Representation
			p.font-weight-bold.leadership-para Majority Representation
			p We have #{numSeats} seats in the House of Representatives and #{numMps} MPs in the House of Commons.
			img(src="#{graphImg}" alt="graph of representation").img-rounded.img-fluid.float-right
