.hero-container
	.hero-flex-container
		.hero-item
			.hero-video.flex-video
				iframe(class="ytplayer" type="text/html" src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=0&amp;frameborder=0&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;rel=0&amp;disablekb=1&amp;start=0&amp;iv_load_policy=3")
		.hero-item
			h1.center-hero Your Vote Matters!
			p.center-hero-text.text-md Sign up now for the latest on election updates<br> and more!

			form
				div.input-wrapper
					input.form-control(type="name" placeholder="Enter your full name")
					label.i.fa.fa-user.input-icon-user
				div.input-wrapper
					input.form-control(type="email" placeholder="Enter your email")
					label.i.fa.fa-envelope.input-icon-envelope
				button.btn.btn-primary TAKE ACTION
