h2.center-hero YOUR VOTE MATTERS
p.center-hero-text Sign up now for the latest on election updates and more!

form
	.form-group
		input.form-control(type="email" placeholder="Enter name")
		input.form-control(type="name" placeholder="Enter email")
		button.btn.btn-success TAKE ACTION
