.hero-container
	.row
		.col-md-6
			iframe.hero-video(type='text/html' width='700' height='450' src='http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com' frameborder='0')
		.col-md-5.vote-matters-body
			h2.center-hero Your Vote Matters!
			p.center-hero-text.text-md Sign up now for the latest on election updates<br> and more!

			form
				div.input-wrapper
				input.form-control(type="name" placeholder="Enter your fulls name")
				label.i.fa.fa-user.input-icon-user
				input.form-control(type="email" placeholder="Enter your email")
				label.i.fa.fa-envelope.input-icon-envelope
				button.btn.btn-primary TAKE ACTION
