.container-fluid
  h2 Who are my MPs?
  .row
    .col-lg-8
      p Not sure who your Members of Parliament are? Don't worry, we've got you covered! Check out our interactive map of Canada here!
      a.btn.btn-primary(href="mps.html") Show me

    .col-lg-4
      img.rounded(src="img/home-mps.jpg" alt="canada-members-of-parliament")
