section.home-mps
	.mp-container
		.mp-item
			h2.mp-title Who Are My MPs?
			p.para-mp Not sure who your Members of Parliament are? Don't worry, we've got you covered! Check out our interactive map of Canada here!
			a.btn.btn-primary.mp-button(href="mps.html") Show me

		.mp-item
			img.rounded(src="img/home-mps.jpg" alt="canada-members-of-parliament")
