h1.parliament-title The Canadian Parliament

.parliament-container
	.parliament-flex-container
		.parliament-item
			p.first-para Our system of government is part of the reason why Canada is known around the world as a good place to live. Canada's parliamentary system is open and democratic. It offers the opportunity for people to give their input and it is designed to make sure proposals for laws are carefully considered. 

			p Canada's Parliament consists of three parts: the Queen, the Senate and the House of Commons. They work together to make the laws for our country. The executive branch consists of the Queen, the Prime Minister and Cabinet, and the departments of government. They implement the laws. The legislative branch makes the laws, and the judicial branch - which is not part of Parliament - interprets them. 

			img.parliament-picture(src="/img/parliament-chart.jpg" alt="This is the a picture of parliament structure")
			
		.parliament-item
			div.facts-container
				h4.quick-facts-title Quick Facts
				ul 
					li.facts The Canadian government is run using a British-style parliamentary system. The Parliament of Canada is separated into two chambers: an elected House of Commons and an appointed Senate.
					li.facts The political party that elects the most members to the House of Commons forms the government of Canada.
					li.facts The government party is able to quickly and easily pass laws so long as they retain a majority of seats in the House.
