h1.home-party-title GET TO KNOW YOUR PARTIES

.parties-container
	.row
		.col-lg-3.col-md-6.col-12home-parties
			.card
				.home-party-logo-container
					img(src="../img/liberals.jpg", alt="liberals party logo").card-img-top
					br 
				.card-body
					.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repudiandae voluptatibus obcaecati eius sed inventore sint, similique itaque molestias eveniet sunt aspernatur reprehenderit, facilis ratione error non! Et mollitia, rerum.
					br
					a(href="parties.jade").link-home-party Read More
		.col-lg-3.col-md-6.col-12.home-parties
			.card
				.home-party-logo-container
					img(src="../../img/conservatives.jpg", alt="conservatives party logo").card-img-top 
					br
				.card-body
					.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repudiandae voluptatibus obcaecati eius sed inventore sint, similique itaque molestias eveniet sunt aspernatur reprehenderit, facilis ratione error non! Et mollitia, rerum.
					br
					a(href="parties.jade").link-home-party Read More
		.col-lg-3.col-md-6.col-12.home-parties.tablet-margin
			.card
				.home-party-logo-container
					img(src="../../img/green.jpg", alt="green party logo").card-img-top 
					br
				.card-body
					.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repudiandae voluptatibus obcaecati eius sed inventore sint, similique itaque molestias eveniet sunt aspernatur reprehenderit, facilis ratione error non! Et mollitia, rerum.
					br
					a(href="parties.jade").link-home-party Read More
		.col-lg-3.col-md-6.col-12.home-parties.tablet-margin
			.card
				.home-party-logo-container
					img(src="../../img/ndp.jpg", alt="ndp party logo").card-img-top 
					br
				.card-body
					.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repudiandae voluptatibus obcaecati eius sed inventore sint, similique itaque molestias eveniet sunt aspernatur reprehenderit, facilis ratione error non! Et mollitia, rerum.
					br
					a(href="parties.jade").link-home-party Read More

//- Bottom part of the parties section: Contains two sections side-by-side

.parties-bottom-container
	.row
		.col-lg-2
		.col-12.col-md-6.col-lg-4
			p.home-party-para Are you interested in voting but not sure for who? Take our quiz and find out which party your views are most aligned with!
		.col-12.col-md-6.col-lg-4
			a(href="compare.jade").btn.btn-primary.btn-home-parties-compare Compare Parties
		.col-lg-2

	