.container-fluid
    .row
        .col-md-4.col-sm-6.col-xs-12.card.w-30
            .card-body
                .card-title.text-uppercase 338
                .card-text Members of Parliament in Canada
        .col-md-4.col-sm-6.col-xs-12.card.w-30
            .card-body
                .card-title.text-uppercase 27%
                .card-text Percent of youth that voted in the 2016 election
        .col-md-4.col-sm-6.col-xs-12.card.w-30
            .card-body
                .card-title.text-uppercase 71%
                .card-text Approval of Justin Trudeau amongst 18 to 34-year-olds
