- var parties = ["Liberal", "Conservative", "New Democratic", "Green"]
- var policies = ["Economy", "Environment", "Education", "Foreign Affairs", "Infrastructure and Transport", "Aboriginal Issues", "Justice", "Security and Terrorism", "Social Issues"]

mixin party-option(name)
	option(value="#{name}" selected) #{name}



section.filters
	.filters__parties
		p Choose parties to compare
		.filters__toggles
			span.filters__toggle.active(data-party="Liberal") Liberal
			span.filters__toggle.active(data-party="Conservative") Conservative
			span.filters__toggle.active(data-party="New Democratic") New Democratic
			span.filters__toggle.active(data-party="Green") Green
	.filters__policies
		p Filter policies
		select#select-policies(multiple="multiple")
			each policy in policies
				+party-option(policy)


