img.progress-icon(src="img/leaf-icon.svg" alt="maple leaf icon")

.progress-box.hidden
	p It looks like you are leaning towards
	img(src="img/logo-liberals.png" alt="liberal party logo")
	img(src="img/logo-conservatives.png" alt="conservative party logo")
	p Vote for 5 more policies and see your final result
	span.btn.btn-secondary.btn-sm.disabled Show me my result
