//mixin mp()

section.mps-list
	article.province
		h1 Alberta

		article.party
			h3 Conservative Party

			.mp-container
				.mp
					p.mp-name Ziad Aboultaif
					p.mp-district Edmonton Manning
				.mp
					p.mp-name Ziad Aboultaif
					p.mp-district Edmonton Manning
				.mp
					p.mp-name Ziad Aboultaif
					p.mp-district Edmonton Mannin
