section.mps-list

//	this is an example of block structure
//	actual elements are created by jQuery functions


//	article.province
//		h1 Alberta
//
//		article.party
//			h3 Conservative Party
//
//			.mp-container
//				.mp
//					p.mp-name Ziad Aboultaif
//					p.mp-district Edmonton Manning
//				.mp
//					p.mp-name Ziad Aboultaif
//					p.mp-district Edmonton Manning
//				.mp
//					p.mp-name Ziad Aboultaif
//					p.mp-district Edmonton Mannin
